@charset "UTF-8";
/* 背景色
---------------------------------------------------------- */
/* 文字色
---------------------------------------------------------- */
/* フォントファミリー
---------------------------------------------------------- */
/* ==========================================================================//
//
//　コーディングルール

一般css記述
■セレクタについて
・1行1プロパティとし、各プロパティはインデントを付ける。インデントは半角スペース2つとする。
・プロパティの値の前には、必ず半角スペースを入れる。

■ショートハンドプロパティについて
・一括指定可能なプロパティ(margin等)の個別指定(margin-top等)は、1つまでとする。
・2つ以上の個別指定は一括指定にまとめる。

■色の指定
色は以下の2通りの記述方法で適宜指定をする。
16進数6桁で記述する。省略できるものは3桁で記述する。

■フォントファミリー
フォントファミリーは以下の順序で記述する。
'Hiragino Sans', 'ヒラギノ角ゴ Pro', 'Hiragino Kaku Gothic Pro', 'メイリオ', 'Meiryo', sans-serif


CSS hackはできるだけ使用を避けるものとし、やむを得ず使用する場合はIEに対してhackを使用すること。

FirefoxやGoogle Chrome、Safariでレイアウトが崩れていたとしても、通常の記述でそれらの表示に合わせ、IE用にhackの記述を行うこと。

■小数について
・小数部の桁数は2桁とし、小数点以下第3位は四捨五入する。
・一の位の0は省略する。
例）
font-size: .8em;

//
// ========================================================================== */
/* COMMON_PARTS
---------------------------------------------------------- */
body {
  background: #AFAFAD;
  color: #666;
  font-family: 'font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", "verdana", sans-serif;';
}

a:link {
  color: #666;
}

/* HEADER
---------------------------------------------------------- */
.header .header__txt-size .txt-size__label {
  color: #000;
}

.header .header__txt-size a {
  color: #fff;
}

.header .header__nav .list-gnav .list-gnav__item {
  color: #fff;
}

.header .header__nav .list-gnav .list-gnav__item a {
  color: #fff;
}

/* MV
---------------------------------------------------------- */
/* BREADCRUMB
---------------------------------------------------------- */
.breadcrumb a {
  color: #666;
}

.breadcrumb a:link {
  color: #666;
}

/* CONTENTS
---------------------------------------------------------- */
.contents {
  background: #AFAFAD;
}

.contents .sec-cmn__ttl {
  color: #fff;
}

/* FLOAT NONE
---------------------------------------------------------- */
/* FLOAT
---------------------------------------------------------- */
/* LINE UP
---------------------------------------------------------- */
/* NEWS
---------------------------------------------------------- */
/* TABLE
---------------------------------------------------------- */
/* PAGINATION
---------------------------------------------------------- */
.pagination .list-pagination {
  color: #666;
}

.pagination .list-pagination .is-current {
  color: #fff;
}

/* ASIDE
---------------------------------------------------------- */
.sub-content {
  background: #fff;
}

.sub-content .local-nav .list-lnav .aside__list--ttl {
  color: #fff;
}

.sub-content .local-nav .list-lnav .aside__list--item a {
  color: #666;
}

.sub-content .local-nav .list-lnav .aside__list--item a:link {
  color: #666;
}

/* BTN TOP
---------------------------------------------------------- */
.btn-top {
  background: #000;
  color: #fff;
}

.btn-top:link {
  color: #fff;
}

/* FOOTER
---------------------------------------------------------- */
.footer {
  background: #000;
  color: #fff;
}

.footer .footer__nav .list-footer-nav .list-footer-nav__item a {
  color: #fff;
}

.footer .footer__nav .list-footer-nav .list-footer-nav__item a:link {
  color: #fff;
}
